<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
    <h2 class="headline m-0 flex-auto">Agregar Operador</h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="text-border"></mat-divider>
  <mat-dialog-content class="flex flex-col">

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>idOperador</mat-label>
        <input cdkFocusInitial formControlName="idOperador" matInput />
        <mat-icon matIconPrefix svgIcon="mat:person"></mat-icon>
      </mat-form-field>
      <mat-form-field class="sm:ml-6 flex-auto">
        <mat-label>Nombre</mat-label>
        <input formControlName="nombre" matInput />
        <mat-icon matIconPrefix svgIcon="mat:person"></mat-icon>
      </mat-form-field>
    </div>


    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>Alias</mat-label>
        <input formControlName="alias" matInput />
        <mat-icon matIconPrefix svgIcon="mat:person"></mat-icon>
      </mat-form-field>
      <mat-form-field class="sm:ml-6 flex-auto">
        <mat-label>RFC</mat-label>
        <input formControlName="rfc" matInput />
        <mat-icon matIconPrefix svgIcon="mat:person"></mat-icon>
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>NSS</mat-label>
        <input formControlName="nss" matInput />
        <mat-icon matIconPrefix svgIcon="mat:person"></mat-icon>
      </mat-form-field>
      <mat-form-field class="sm:ml-6 flex-auto">
        <mat-label>Curp</mat-label>
        <input formControlName="curp" matInput />
        <mat-icon matIconPrefix svgIcon="mat:person"></mat-icon>
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>fechaIngreso</mat-label>
        <input formControlName="fechaIngreso" matInput />
        <mat-icon matIconPrefix svgIcon="mat:person"></mat-icon>
      </mat-form-field>
      <mat-form-field class="sm:ml-6 flex-auto">
        <mat-label>licenciaFederal</mat-label>
        <input formControlName="licenciaFederal" matInput />
        <mat-icon matIconPrefix svgIcon="mat:person"></mat-icon>
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>categoria</mat-label>
        <input formControlName="categoria" matInput />
        <mat-icon matIconPrefix svgIcon="mat:person"></mat-icon>
      </mat-form-field>
      <mat-form-field class="sm:ml-6 flex-auto">
        <mat-label>vigenciaInicioLicenciaFederal</mat-label>
        <input formControlName="vigenciaInicioLicenciaFederal" matInput type="date" />
        <mat-icon matIconPrefix svgIcon="mat:person"></mat-icon>
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>vigenciaFinLicenciaFederal</mat-label>
        <input formControlName="vigenciaFinLicenciaFederal" matInput type="date" />
        <mat-icon matIconPrefix svgIcon="mat:person"></mat-icon>
      </mat-form-field>
      <mat-form-field class="sm:ml-6 flex-auto">
        <mat-label>expedienteMedico</mat-label>
        <input formControlName="expedienteMedico" matInput />
        <mat-icon matIconPrefix svgIcon="mat:person"></mat-icon>
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>licenciaLocal</mat-label>
        <input formControlName="licenciaLocal" matInput />
        <mat-icon matIconPrefix svgIcon="mat:person"></mat-icon>
      </mat-form-field>
      <mat-form-field class="sm:ml-6 flex-auto">
        <mat-label>vigInicioLicenciaLocal</mat-label>
        <input formControlName="vigInicioLicenciaLocal" matInput type="date" />
        <mat-icon matIconPrefix svgIcon="mat:person"></mat-icon>
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>vigFinLicenciaLocal</mat-label>
        <input formControlName="vigFinLicenciaLocal" matInput type="date" />
        <mat-icon matIconPrefix svgIcon="mat:person"></mat-icon>
      </mat-form-field>
      <mat-form-field class="sm:ml-6 flex-auto">
        <mat-label>primaVacacional</mat-label>
        <input formControlName="primaVacacional" matInput type="date" />
        <mat-icon matIconPrefix svgIcon="mat:person"></mat-icon>
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>accesoTernium</mat-label>
        <input formControlName="accesoTernium" matInput />
        <mat-icon matIconPrefix svgIcon="mat:person"></mat-icon>
      </mat-form-field>
      <mat-form-field class="sm:ml-6 flex-auto">
        <mat-label>vigExamenMedico</mat-label>
        <input formControlName="vigExamenMedico" matInput type="date" />
        <mat-icon matIconPrefix svgIcon="mat:person"></mat-icon>
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>rControl</mat-label>
        <input formControlName="rControl" matInput />
        <mat-icon matIconPrefix svgIcon="mat:person"></mat-icon>
      </mat-form-field>
      <mat-form-field class="sm:ml-6 flex-auto">
        <mat-label>vigenciaRControl</mat-label>
        <input formControlName="vigenciaRControl" matInput type="date" />
        <mat-icon matIconPrefix svgIcon="mat:person"></mat-icon>
      </mat-form-field>
    </div>




    <!---->


  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Cancel</button>
    <button *ngIf="isCreateMode()" color="primary" mat-flat-button type="submit">Guardar carga</button>
    <button *ngIf="isUpdateMode()" color="primary" mat-flat-button type="submit">Actualizar</button>
  </mat-dialog-actions>
</form>
